@use 'vuetify' with (
  // Place SASS variable overrides here
  $font-size-root: 14px,
  $body-font-family: 'Lato',
  $variable: false,
  $selection-control-size: 32px
);

body {
  color: #000;
  font-family: "Lato"!important;
  font-weight: 400;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;
  font-size: 14px;
}

// @use "@material/textfield";

// .io-textfield-outlined {
//   // Sets button density scale to `-3`, i.e. button height to `24px`.
//   @include textfield.density(-3);
// }
