@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css); 
@import url(theme.light.css);
/* @import url(theme.dark.css) (prefers-color-scheme: dark); */

/* Custom */
.small,
md-filled-button[size="small"],
md-outlined-button[size="small"],
md-elevated-button[size="small"],
md-tonal-button[size="small"] {
  height: var(--small)
}
.medium,
md-filled-button[size="medium"],
md-outlined-button[size="medium"],
md-elevated-button[size="medium"],
md-tonal-button[size="medium"] {
  height: var(--medium)
}
.large,
md-filled-button[size="large"],
md-outlined-button[size="large"],
md-elevated-button[size="large"],
md-tonal-button[size="large"]
[size="large"] {
  height: var(--large)
}

md-filled-button {
  border-radius: 4px
}

.success,
[status="success"] {
  --md-filled-button-container-color: var(--md-sys-color-success-light);
}
.error,
[status="error"] {
  --md-filled-button-container-color: var(--md-sys-color-error-light);
  border-radius: 4px
}
/* md-checkbox.error {
  --md-checkbox-outline-color: var(--md-sys-color-error-light);
  border-radius: 2px;
  --md-checkbox-hover-outline-color: var(--md-sys-color-error-light);
} */

.warning,
[status="warning"] {
  --md-filled-button-container-color: var(--md-sys-color-warning-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-warning-light)
}
.info,
[status="info"] {
  --md-filled-button-container-color: var(--md-sys-color-informational-light);
  color: var(--md-sys-color-on-informational-container-light)
}
.secondary {
  --md-filled-button-container-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary-container-light);
}
.primary {
  background-color: var(--md-sys-color-primary)
}

[variant="true"] {
  background-color: var(--md-sys-color-primary-container-light);
  --md-input-chip-label-text-color: var(--md-sys-color-on-primary-container-light)
}

md-input-chip[close="false"] {
  --md-input-chip-icon-size: 0;
}
/* 
.label.resting:not(.hidden) {
  top: 4px !important;
}

.field:not(.no-label) .content ::slotted(:not(textarea)) {
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}
.content ::slotted(:not(textarea)) {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
} */
/* .text-field {
  height: 32px !important;
} */
/* md-filled-text-field {
  height: 32px!important;
} */
/* md-filled-text-field .label.resting::part(native) {
  top: 1px !important;
} */

.test {
  background-color: var(--md-surfaces-surface1-test);
  /* width: 500px;
  height: 200px; */
}
