@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css);
/* @import url(theme.dark.css) (prefers-color-scheme: dark); */

/* Custom */

.small {
  height: var(--small);
}
.medium {
  height: var(--medium);
}
.large {
  height: var(--large);
}


.success {
  --md-filled-button-container-color: var(--success);
}
.error {
  --md-filled-button-container-color: var(--error);
  border-radius: 4px;
}
.warning {
  --md-filled-button-container-color: var(--warning);
  --md-sys-color-on-primary: var(--on-warning);
}
.info {
  --md-filled-button-container-color: var(--info);
  --md-sys-color-on-primary: var(--on-info);
}
