h1{
  font-family: var(--md-sys-typescale-display-large-font-family-name);
  font-style: var(--md-sys-typescale-display-large-font-family-style);
  font-weight: var(--md-sys-typescale-display-large-font-weight);
  font-size: var(--md-sys-typescale-display-large-font-size);
  letter-spacing: var(--md-sys-typescale-display-large-tracking);
  line-height: var(--md-sys-typescale-display-large-height);
  text-transform: var(--md-sys-typescale-display-large-text-transform);
  text-decoration: var(--md-sys-typescale-display-large-text-decoration);
}
h2{
  font-family: var(--md-sys-typescale-display-medium-font-family-name);
  font-style: var(--md-sys-typescale-display-medium-font-family-style);
  font-weight: var(--md-sys-typescale-display-medium-font-weight);
  font-size: var(--md-sys-typescale-display-medium-font-size);
  letter-spacing: var(--md-sys-typescale-display-medium-tracking);
  line-height: var(--md-sys-typescale-display-medium-height);
  text-transform: var(--md-sys-typescale-display-medium-text-transform);
  text-decoration: var(--md-sys-typescale-display-medium-text-decoration);
}
h3{
  font-family: var(--md-sys-typescale-display-small-font-family-name);
  font-style: var(--md-sys-typescale-display-small-font-family-style);
  font-weight: var(--md-sys-typescale-display-small-font-weight);
  font-size: var(--md-sys-typescale-display-small-font-size);
  letter-spacing: var(--md-sys-typescale-display-small-tracking);
  line-height: var(--md-sys-typescale-display-small-height);
  text-transform: var(--md-sys-typescale-display-small-text-transform);
  text-decoration: var(--md-sys-typescale-display-small-text-decoration);
}
h4{
  font-family: var(--md-sys-typescale-headline-large-font-family-name);
  font-style: var(--md-sys-typescale-headline-large-font-family-style);
  font-weight: var(--md-sys-typescale-headline-large-font-weight);
  font-size: var(--md-sys-typescale-headline-large-font-size);
  letter-spacing: var(--md-sys-typescale-headline-large-tracking);
  line-height: var(--md-sys-typescale-headline-large-height);
  text-transform: var(--md-sys-typescale-headline-large-text-transform);
  text-decoration: var(--md-sys-typescale-headline-large-text-decoration);
}
h5{
  font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  font-style: var(--md-sys-typescale-headline-medium-font-family-style);
  font-weight: var(--md-sys-typescale-headline-medium-font-weight);
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  letter-spacing: var(--md-sys-typescale-headline-medium-tracking);
  line-height: var(--md-sys-typescale-headline-medium-height);
  text-transform: var(--md-sys-typescale-headline-medium-text-transform);
  text-decoration: var(--md-sys-typescale-headline-medium-text-decoration);
}
h6{
  font-family: var(--md-sys-typescale-headline-small-font-family-name);
  font-style: var(--md-sys-typescale-headline-small-font-family-style); 
  font-weight: var(--md-sys-typescale-headline-small-font-weight);
  font-size: var(--md-sys-typescale-headline-small-font-size);
  letter-spacing: var(--md-sys-typescale-headline-small-tracking);
  line-height: var(--md-sys-typescale-headline-small-height);
  text-transform: var(--md-sys-typescale-headline-small-text-transform);
  text-decoration: var(--md-sys-typescale-headline-small-text-decoration);
}
.subheadline-large {
  font-family: var(--md-sys-typescale-subheadline-large-font-family-name);
  font-style: var(--md-sys-typescale-subheadline-large-font-family-style);
  font-weight: var(--md-sys-typescale-subheadline-large-font-weight);
  font-size: var(--md-sys-typescale-subheadline-large-font-size);
  letter-spacing: var(--md-sys-typescale-subheadline-large-tracking);
  line-height: var(--md-sys-typescale-subheadline-large-height);
  text-transform: var(--md-sys-typescale-subheadline-large-text-transform);
  text-decoration: var(--md-sys-typescale-subheadline-large-text-decoration);
}
.subheadline-medium {
  font-family: var(--md-sys-typescale-subheadline-medium-font-family-name);
  font-style: var(--md-sys-typescale-subheadline-medium-font-family-style);
  font-weight: var(--md-sys-typescale-subheadline-medium-font-weight);
  font-size: var(--md-sys-typescale-subheadline-medium-font-size);
  letter-spacing: var(--md-sys-typescale-subheadline-medium-tracking);
  line-height: var(--md-sys-typescale-subheadline-medium-height);
  text-transform: var(--md-sys-typescale-subheadline-medium-text-transform);
  text-decoration: var(--md-sys-typescale-subheadline-medium-text-decoration);
}
.subheadline-small {
  font-family: var(--md-sys-typescale-subheadline-small-font-family-name);
  font-style: var(--md-sys-typescale-subheadline-small-font-family-style);
  font-weight: var(--md-sys-typescale-subheadline-small-font-weight);
  font-size: var(--md-sys-typescale-subheadline-small-font-size);
  letter-spacing: var(--md-sys-typescale-subheadline-small-tracking);
  line-height: var(--md-sys-typescale-subheadline-small-height);
  text-transform: var(--md-sys-typescale-subheadline-small-text-transform);
  text-decoration: var(--md-sys-typescale-subheadline-small-text-decoration);
}
.body-large{
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  font-style: var(--md-sys-typescale-body-large-font-family-style);
  font-weight: var(--md-sys-typescale-body-large-font-weight);
  font-size: var(--md-sys-typescale-body-large-font-size);
  letter-spacing: var(--md-sys-typescale-body-large-tracking);
  line-height: var(--md-sys-typescale-body-large-height);
  text-transform: var(--md-sys-typescale-body-large-text-transform);
  text-decoration: var(--md-sys-typescale-body-large-text-decoration);
}
.body-medium{
  font-family: var(--md-sys-typescale-body-medium-font-family-name);
  font-style: var(--md-sys-typescale-body-medium-font-family-style);
  font-weight: var(--md-sys-typescale-body-medium-font-weight);
  font-size: var(--md-sys-typescale-body-medium-font-size);
  letter-spacing: var(--md-sys-typescale-body-medium-tracking);
  line-height: var(--md-sys-typescale-body-medium-height);
  text-transform: var(--md-sys-typescale-body-medium-text-transform);
  text-decoration: var(--md-sys-typescale-body-medium-text-decoration);
}
.body-small{
  font-family: var(--md-sys-typescale-body-small-font-family-name);
  font-style: var(--md-sys-typescale-body-small-font-family-style);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  letter-spacing: var(--md-sys-typescale-body-small-tracking);
  line-height: var(--md-sys-typescale-body-small-height);
  text-transform: var(--md-sys-typescale-body-small-text-transform);
  text-decoration: var(--md-sys-typescale-body-small-text-decoration);
}
.link-large {
  font-family: var(--md-sys-typescale-link-large-font-family-name);
  font-style: var(--md-sys-typescale-link-large-font-family-style);
  font-weight: var(--md-sys-typescale-link-large-font-weight);
  font-size: var(--md-sys-typescale-link-large-font-size);
  letter-spacing: var(--md-sys-typescale-link-large-letter-spacing);
  line-height: var(--md-sys-typescale-link-small-line-height);
}
.link-base {
  color: var(--md-ref-palette-primary40);
  font-family: var(--md-sys-typescale-link-medium-font-family-name);
  font-style: var(--md-sys-typescale-link-medium-font-family-style);
  font-weight: var(--md-sys-typescale-link-medium-font-weight);
  font-size: var(--md-sys-typescale-link-medium-font-size);
  letter-spacing: var(--md-sys-typescale-link-medium-letter-spacing);
  line-height: var(--md-sys-typescale-link-medium-line-height);
}
.link-small {
  font-family: var(--md-sys-typescale-link-small-font-family-name);
  font-style: var(--md-sys-typescale-link-small-font-family-style);
  font-weight: var(--md-sys-typescale-link-small-font-weight);
  font-size: var(--md-sys-typescale-link-small-font-size);
  letter-spacing: var(--md-sys-typescale-link-small-letter-spacing);
  line-height: var(--md-sys-typescale-link-small-line-height);
}


.label-large{
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  font-style: var(--md-sys-typescale-label-large-font-family-style);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  letter-spacing: var(--md-sys-typescale-label-large-tracking);
  line-height: var(--md-sys-typescale-label-large-height);
  text-transform: var(--md-sys-typescale-label-large-text-transform);
  text-decoration: var(--md-sys-typescale-label-large-text-decoration);
}
.label-medium{
  font-family: var(--md-sys-typescale-label-medium-font-family-name);
  font-style: var(--md-sys-typescale-label-medium-font-family-style);
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  letter-spacing: var(--md-sys-typescale-label-medium-tracking);
  line-height: var(--md-sys-typescale-label-medium-height);
  text-transform: var(--md-sys-typescale-label-medium-text-transform);
  text-decoration: var(--md-sys-typescale-label-medium-text-decoration);
}
.label-small{
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-style: var(--md-sys-typescale-label-small-font-family-style);
  font-weight: var(--md-sys-typescale-label-small-font-weight);
  font-size: var(--md-sys-typescale-label-small-font-size);
  letter-spacing: var(--md-sys-typescale-label-small-tracking);
  line-height: var(--md-sys-typescale-label-small-height);
  text-transform: var(--md-sys-typescale-label-small-text-transform);
  text-decoration: var(--md-sys-typescale-label-small-text-decoration);
}

.io-caption {
  font-family: var(--md-sys-typescale-caption-font-family-name);
  font-style: var(--md-sys-typescale-caption-font-family-style);
  font-weight: var(--md-sys-typescale-caption-font-weight);
  font-size: var(--md-sys-typescale-caption-font-size);
  letter-spacing: var(--md-sys-typescale-caption-tracking);
  line-height: var(--md-sys-typescale-caption-height);
}